.property-detail-img{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 480px;
    border-radius: 2px;
  
  }

  .property-detail-text{
    font-size: 14px;
     margin-top: 8px ;
  }
  .detail-text{
    margin: 0;
  }
  .owner{
      padding: 25px 0px;
  }